* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.main {
	width: 100%;
}
.heading {
	text-align: center;
}
#ques-arr,
#ans-unit {
	text-align: center;
	font-size: 1.3rem;
}
.input-array-view {
	border: solid black;
	margin: 0 20vw;
}
